.big-heading {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 80px;
  letter-spacing: .025em;
  line-height: 1;
  color: $color-main;
  font-family: $BebasNeue;
  font-weight: 700;

  @include screen(tablet, max) {
    font-size: 48px;
  }

  &_padded {
    padding: 0 0 110px;

    @include screen(tablet, max) {
      padding: 18px 0 23px;
    }
  }

  &_left {
    text-align: left;
  }

  &_huge {
    font-size: 90px;
    letter-spacing: .03em;
  }
}
