extends ../../layouts/default
include ../../blocks/big-heading/big-heading
include ../../blocks/page-wrap/page-wrap
include ../../blocks/text/text

block head
  - var pageTitle = 'CAT - Услуги: Заявка отправлена'

block header
  -
    var data = getData('page-menu')
    data[2].active = true
  +header(data)

block content
  +page-wrap()
    +big-heading() заявка отправлена
    +b.order-success._tall
      +text().__text._success
        p Ваша заявка успешно отправлена, с вами свяжется наш менеджер для уточнения деталей заказа

block footer
  +footer()
