include ../../blocks/container/container
include ../../blocks/logo/logo
include ../../blocks/menu/menu

mixin header(data, main)
  if main
    +b.HEADER.header&attributes(attributes)._main
      +container()
        +logo()
        +menu(data)._main
        +burger()._white.__burger
  else
    +b.HEADER.header&attributes(attributes)
      +container()
        +logo().__desktop
        +logonotext().__mobile
        +menu(data).__menu
        +burger().__burger
