.header {
  display: block;
  padding-top: 40px;
  padding-bottom: 50px;

  @include screen(tablet, max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_main {
    background-color: transparent;

    .logo {
      width: 92px;
      height: 72px;
    }
  }

  .container {
    display: flex;
    align-items: flex-start;

    @include screen(tablet, max) {
      justify-content: space-between;
    }
  }

  &__burger {
    margin-top: 5px;
  }
}
