.copyright {
  display: inline-flex;
  flex-direction: column;

  &__item {
    font-family: $PfDin;
    font-size: 12px;
    color: #969699;
    letter-spacing: .025em;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }
}
