.contact-text {
  display: block;
  z-index: 5;
  position: relative;
  pointer-events: all;

  &_active {

    .contact-text {

      &__toggler {

        &_show {
          display: none;
        }

        &_hide {
          display: block;
        }
      }
    }
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: .05em;
    color: #fff;
    line-height: 1.75;
  }

  &__toggler {
    text-decoration: none;
    font-family: $PfDin;
    text-transform: uppercase;
    letter-spacing: .075em;
    color: $color-main;
    font-size: 17px;
    line-height: 2;
    display: block;
    margin-top: 4px;

    &:hover {
      color: darken($color-main, 10%);
    }

    &_hide {
      display: none;
    }
  }
}
