mixin contact-text()
  +b.contact-text&attributes(attributes)
    +e.P.text +7 914 408 73 14
    +e.P.text +7 924 401 73 74
    +e.P.text cpecavto@cat.ru
    +e.P.text г. Хабаровск, пер. Трудовой, 3
    +e.A(href='#').toggler._show показать на карте
    +e.A(href='#').toggler._hide убрать карту
