mixin pagination()
  +b.pagination&attributes(attributes)
    +e.SPAN.number 01
    +e.dots
      +e.A(href='#main').dot._active
      +e.A(href='#services').dot
      +e.A(href='#park-technics').dot
      +e.A(href='#contacts').dot
