mixin pagination(active, max)
  +b.pagination&attributes(attributes)
    if (active<10)
      +e.SPAN.number= '0'+active
    else
      +e.SPAN.number= active
    +e.dots
      - for (var i=0;i<active;i++)
          +e.A(href='#').dot._active
      - for (;i<max;i++)
          +e.A(href='#').dot
