@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/basics'; // Основные общие стили
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
