.list {
  display: block;

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }

  &_offer {
    overflow-y: auto;

    // scroll
    .jspVerticalBar { width: 2px; }

    .jspDrag { background-color: #fc9a00;}

    .list {

      &__item {
        max-width: 280px;
        padding-left: 37px;

        @include screen(tablet,max) {
          padding-left: 30px;
        }

        &::before {
          font-family: $Circe;
          font-size: 16px;
          content: '→';
          position: absolute;
          left: 0;
          top: 0;
          color: $color-main;
        }

        &:not(:first-of-type) {
          margin-top: 33px;

          @include screen(tablet,max) {
            margin-top: 17px;
          }
        }
      }
    }
  }

  &_cities {
    max-height: 265px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .list__item {

      &:not(:nth-of-type(5n)) {
        margin-bottom: 33px;
      }
    }
  }

  &__item {
    font-size: 18px;
    letter-spacing: .05em;
    line-height: 1.444;
    color: #fff;
    position: relative;
    text-transform: uppercase;

    @include screen(tablet,max) {
      font-size: 15px;
      letter-spacing: .075em;
      padding-left: 30px;
      line-height: 1.333;
    }
  }
}
