.advantage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 77px 72px 70px 120px;
  background-color: #fff;

  @media (max-width: 768px) {
    padding: 62px 42px 62px 39px;
  }

  &__intro {
    padding-left: 50px;
    padding-right: 150px;
    font-size: 30px;
    color: #fff;
    line-height: 1.33;
    letter-spacing: .025em;

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 34px;
      padding: 72px 68px 80px 19px;
      align-self: center;
    }
  }

  &__head-text {
    font-size: 22px;
    line-height: 1.36;
    font-weight: 500;
    color: #fff;
    letter-spacing: .025em;
    margin-left: -30px;
    margin-top: 5px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      margin-left: -52px;
    }

    &_dark {
      color: $color-grey;
    }
  }

  &__text {
    margin-top: 25px;
  }

  &__heading {
    display: inline-flex;
    align-items: center;
  }

  &__number {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1;

    &_color {

      &_main {
        color: $color-main;
      }

      &_light {
        color: #fafafa;
      }

      &_dark {
        color: #5a5a60;
      }
    }

    &_o_10 {
      opacity: .1;
    }
  }

  &_main {
    background-color: $color-main;
  }

  &_dark {
    background-color: $color-darkgrey;
  }

  &_darken {
    background-color: #3d3d45;
  }
}
