.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  &__cities {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    z-index: -1;

    @include transition(opacity, z-index);

    &_active {
      opacity: 1;
      z-index: 4;
    }
  }

  &__pagination {
    position: absolute;
    transform: translateY(-50%);
    right: 30px;
    top: 50%;

    @include screen(desktop-wide, min) {
      right: 0;
    }

    @include screen(tablet-wide, max) {
      display: none;
    }
  }

  &__controls {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
  }
}
