extends ../../layouts/default
include ../../blocks/pagination/pagination
include ../../blocks/scroll/scroll
include ../../blocks/big-heading/big-heading
include ../../blocks/text/text
include ../../blocks/action/action
include ../../blocks/list/list
include ../../blocks/map/map
include ../../blocks/contact-text/contact-text
include ../../blocks/input/input
include ../../blocks/main-slide/main-slide
include ../../components/main-controls/main-controls
include ../../blocks/map-controls/map-controls
include ../../blocks/selectbox/selectbox

block head
  - var pageTitle = 'CAT - Главная'

block header
  - var data = getData('main-menu')
  +header(data, true)

block content
  +b.MAIN.main
    +main-controls().__controls
    +main-slide().__cities
      +slide-bg._full
      +container().container_static
        +list(getData('offer-list').cities)._cities.__cities-list
    +e.slides#pagepiling
      +main-slide().section
        +slide-bg('main.jpg')._left._o_85
        +container().container_static.__main
          +e.row._center
            +e.col._w_685.fromLeft
              +big-heading()._left._huge.__heading._top Полный спектр услуг спецтехники
              +text()._light._white
                p Перевозка крупногабаритных и тяжеловесных грузов, услуги грузоподъемной техники, сервисное обслуживание спецтехники.
              +action('order-service.html').__action заказать услугу
          +e.scroll
            +scroll()
      +main-slide().section
        +slide-bg('services.jpg')._right._o_70
        +container().container_static
          +e.row._center._center_m
            +e.col._left.fromLeft
              +big-heading()._left._huge.__heading Наши услуги
              +action('services.html').__action._hide Показать все
            +e.col._right.fromRight
              +list-anchors(getData('offer-list').services, 'service.html')._offer.__list
      +main-slide().section
        +slide-bg('park-technics.jpg')._right._o_70
        +container().container_static
          +e.row._center._center_m
            +e.col._left.fromLeft
              +big-heading()._left._huge.__heading Парк техники
              +action('park-technics.html').__action._hide Заказать технику
            +e.col._right.fromRight
              +list-anchors(getData('offer-list').park, 'park-technics.html')._offer.__list
      +main-slide().section.__map#contacts
        +slide-bg()._full._o_90.__map
          +map().__map
        +container().container_static
          +e.row._center._wrap._vertical
            +big-heading()._left._huge.__heading._top._left.fromLeft._backwards Контакты
            +e.col._w_500.__contact-form.fromLeft._backwards
              +input({type:'name',placeholder:'Имя'})._white
              +input({type:'email',placeholder:'email'})._white
              +selectbox({placeholder: 'Выберите услугу', option: ['Негабаритные перевозки','Логистические услуги','Такелажные работы','Услуги грузоподъемных механизмов', 'Ремонт спецтехники',  'Международные перевозки грузов']})._white
              +input({type:'text',placeholder:'Комментарий'})._white
              +e.map-actions.__action
                +action() Отправить
                A(href='#').contact-text__toggler.toMap Назад
            +e.contact-text.fromRight
              +contact-text()
              +action().__action._show._left.toForm Написать нам
            A(href='#').contact-text__toggler.toMap.toMap_main Назад
          +map-controls().__map-controls.disabled

block footer
  +footer(true)
