.main {
  display: block;
  flex-grow: 1;
  position: relative;

  &__pagination {
    position: absolute;
    transform: translateY(-50%);
    right: 30px;
    top: 50%;

    @include screen(desktop-wide, min) {
      right: 0;
    }

    @include screen(tablet-wide, max) {
      display: none;
    }
  }

  &__scroll {
    position: absolute;
    transform: translateX(-50%);
    left: 55%;
    bottom: 0;
  }
}
