extends ../../layouts/default
include ../../components/header/header
include ../../components/footer/footer
include ../../blocks/full-bg/full-bg
include ../../blocks/pagination/pagination
include ../../blocks/scroll/scroll
include ../../blocks/big-heading/big-heading
include ../../blocks/text/text
include ../../blocks/action/action
include ../../blocks/offer-list/offer-list

block head
  - var pageTitle = 'CAT - Главная'

block header
  +header()._main

block content
  +full-bg('assets/images/background/main.jpg')._overlay._overlay_left._overlay_85
  +b.MAIN.main.container
    +pagination(1, 4).__pagination
    +container()
      +big-heading()._left Полный спектр <br> услуг спецтехники
      +text()._light._white
        p Перевозка крупногабаритных и тяжеловесных грузов, услуги грузоподъемной техники, сервисное обслуживание   спецтехники.
      +action() заказать услугу
      //- +offer-list(getData('offer-list').services)
    +e.scroll
      +scroll()

block footer
  +footer(true)
