.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  .container {
    position: relative;
  }

  &__pagination {
    position: absolute;
    transform: translateY(-50%);
    right: 30px;
    top: 50%;

    @include screen(desktop-wide, min) {
      right: 0;
    }

    @include screen(tablet-wide, max) {
      display: none;
    }
  }

  &__center {
    width: 685px;
    margin: 0 auto;
  }

  &__scroll {
    margin-top: auto;
    margin-left: 53%;
    padding-top: 20px;
  }
}
