extends ../../layouts/default
include ../../components/header/header
include ../../components/footer/footer
include ../../blocks/pagination/pagination
include ../../blocks/scroll/scroll
include ../../blocks/big-heading/big-heading
include ../../blocks/text/text
include ../../blocks/action/action
include ../../blocks/list/list
include ../../blocks/map/map
include ../../blocks/contact-text/contact-text
include ../../blocks/input/input
include ../../blocks/main-slide/main-slide
include ../../components/main-controls/main-controls

block head
  - var pageTitle = 'CAT - Главная'

block header
  - var data = getData('main-menu')
  +header(data, true)

block content
  +b.MAIN.main
    +main-controls().__controls
    +main-slide().__cities
      +slide-bg._full
      +container()
        +e.row
          +e.col._center._w_full
            +list(getData('offer-list').cities)._cities.__cities-list
    +e.slides#pagepiling
      +main-slide()
        +slide-bg('main.jpg')._left._o_85
        +container()
          +e.row
            +e.col._center
              +big-heading()._left._huge Полный спектр услуг спецтехники
              +text()._light._white
                p Перевозка крупногабаритных и тяжеловесных грузов, услуги грузоподъемной техники, сервисное обслуживание         спецтехники.
              +action().__action._t_38 заказать услугу
          +e.scroll
            +scroll()
      +main-slide()
        +slide-bg('services.jpg')._right._o_70
        +container()
          +e.row
            +e.col._left
              +big-heading()._left._huge Наши услуги
              +action().__action Показать все
            +e.col._right
              +list(getData('offer-list').services)._offer
      +main-slide()
        +slide-bg('park-technics.jpg')._right._o_70
        +container()
          +e.row
            +e.col._left
              +big-heading()._left._huge Парк техники
              +action().__action Заказать технику
            +e.col._right
              +list(getData('offer-list').park)._offer
      +main-slide()
        +slide-bg('park-technics.jpg')._full._o_90.__map
          +map().__map
        +container()
          +e.row
            +e.col._center._w_500.__contact-form
              +big-heading()._left._huge Контакты
              +input({type:'name',placeholder:'Имя'})
              +input({type:'email',placeholder:'email'})
              +input({type:'text',placeholder:'Комментарий'})
              +action().__action._t_38 Отправить
            +contact-text().__contact-text


block footer
  +footer(true)
