include ../../blocks/container/container
include ../../blocks/icon/icons
include ../../blocks/logo/logo
include ../../blocks/footer-cities/footer-cities
include ../../blocks/copyright/copyright

mixin footer(main)
  if main
    +b.FOOTER.footer._main&attributes(attributes)
      +container()
        +e.phones
          +e.text-item
            +e.A(href='#').text +7 924 401 73 74
          +e.text-item
            +e.A(href='#').text +7 914 408 73 14
        +e.mail
          +e.text-item
            +e.SPAN.text._grey Mail:
            +e.A(href='#').text._value cpecavto@cat.ru
  else
    +b.FOOTER.footer
      +container()
        +e.row
          +logonotext().__logo
          +e.phones
            +e.text-item
              +e.A(href='#').text +7 924 401 73 74
            +e.text-item
              +e.A(href='#').text +7 914 408 73 14
          +e.A(href='#').text.__mail cpecavto@cat.ru
        +e.row._padded
          +footer-cities(getData('offer-list').citiesFooter)
          +copyright().__copyright
