.footer {
  display: block;
  padding: 100px 0 45px;
  background-color: $color-dark;

  @include screen(tablet, max) {
    padding: 45px 0 40px;
  }

  .container {
    @include screen(tablet, max) {
      padding: 0 30px;
    }
  }

  &__logo {
    @include screen(tablet, max) {
      margin-bottom: 24px;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: darken(#fff, 15%);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &_padded {
      padding-top: 106px;

      @include screen(tablet, max) {
        padding-top: 33px;
      }
    }

    @include screen(tablet,max) {
      flex-direction: column;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;

    .footer__text-item {

      &:not(:first-of-type) {
        margin-top: 14px;
      }
    }
  }

  &__mail {
    @include screen(tablet, max) {
      display: none;
    }
  }

  &__text {
    font-family: $PfDin;
    font-size: 15px;
    letter-spacing: .025em;
    color: #fff;

    &_grey {
      color: #ccc;
    }

    &_darkgrey {
      color: #969699;
    }

    &_value {
      margin-left: 20px;
    }
  }

  &__text-item {
    display: inline-block;
  }

  &__copyright {
    margin-top: 5px;

    @include screen(tablet, max) {
      margin-top: 45px;
    }
  }

  // Модификатор для главной страницы

  &_main {
    padding-bottom: 40px;
    padding-top: 0;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;

    .container {
      display: flex;
      justify-content: space-between;

      @include screen(tablet,max) {
        padding: 0 20px !important;
      }
    }

    .footer {
      @include screen(tablet, max) {
        padding-bottom: 20px;
      }

      &__text-item {

        &:not(:first-of-type) {
          @include screen(phablet, min) {
            margin-left: 55px;
          }
        }
      }

      &__phones {
        flex-direction: row;

        @include screen(phablet, max) {
          width: 100%;
          justify-content: space-between;
        }

        .footer__text-item {
          margin: 0;
        }
      }

      &__mail {
        @include screen(phablet, max) {
          display: none;
        }
      }

      &__text {
        font-size: 17px;
        letter-spacing: .05em;

        @include screen(phablet, max) {
          font-size: 14px;
        }
      }
    }
  }
}
