.bordered-text {
  position: relative;
  display: block;
  max-width: 310px;
  padding-top: 64px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 125px;
    height: 2px;
    background-color: #fc9a00;
  }

  &__heading {
    color: #1b1b21;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
  }

  &__content {
    margin-top: 40px;
    color: #74747d;
  }
}
