mixin bordered-text()
  +b.bordered-text&attributes(attributes)
    block

mixin border-text-heading()
  +e.H4.heading&attributes(attributes)
    block

mixin border-text-content()
  +e.content&attributes(attributes)
    block
