$article-offset-top: 127px;
$article-offset-top-mobile: 120px;

.project {
  display: block;
  padding-bottom: 125px;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    padding-bottom: 59px;
  }

  &__picture {
    position: relative;
    display: block;
    min-width: 790px;
    width: 68.38%;
    min-height: 532px;
    height: auto;
    overflow: hidden;

    @media (max-width: 1070px) {
      width: 100%;
      margin-right: 80px;
      min-width: initial;
    }

    @media (max-width: 768px) {
      width: 100%;
      min-height: 240px;
      z-index: 3;
      margin-right: 0;
    }

    &::before {
      content: '';
      opacity: 0;
      display: block;
      background-color: #212328;
      z-index: 1;

      @include full-size;
      @include transition(opacity);
    }

    &:hover {

      .small-action__text {
        opacity: 1;
        pointer-events: all;
      }

      &::before { opacity: .6; }
    }
  }

  &__action {
    position: absolute;
    top: 41px;
    left: 40px;
    z-index: 2;

    @media (max-width: 768px) {
      top: 21px;
      left: 20px;

      .small-action__text { opacity: 0; }
    }
  }

  &__image { @include fill-img; }

  &__buttons {
    display: inline-flex;

    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__row {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    @media (min-width: 1025px) {
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      &_buttons { order: 2; }
    }
  }

  &__info {
    display: none;

    &_desktop {
      margin-bottom: $article-offset-top;
      padding: 80px;
      align-self: flex-end;

      @media (max-width: 1190px) {
        padding: 20px;
      }

      @media (min-width: 1070px) {
        display: block;
      }
    }

    &_mobile {
      margin-top: 43px;

      @media (max-width: 1069px) {
        display: block;
      }
    }

    li {
      color: #7d7d80;
      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: darken(#7d7d80, 20%);
      }
    }
  }

  &__contacts {
    margin-top: 40px;

    &-heading { margin-bottom: 28px; }

    @media (max-width: 768px) {
      margin-top: 54px;
      margin-bottom: 49px;
    }
  }

  &__article {
    position: relative;
    width: 100%;
    padding: 97px 215px 103px 106px;
    background-color: #f6f6f6;
    margin-top: -$article-offset-top;
    z-index: 1;

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 97px 107px 51px 53px;
    }

    @media (max-width: 768px) {
      margin-top: -$article-offset-top-mobile;
      margin-left: -20px;
      width: calc(100% + 40px);
      padding: 165px 40px 56px;
    }
  }

  &__heading {
    color: #1b1b21;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 53px;

    @media (max-width: 1070px) {
      font-size: 32px;
      line-height: 42px;
    }

    @media (max-width: 768px) {
      padding-right: 34px;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 31px;
    }
  }
}
