.demo {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 70px;
  }

  &:last-of-type {
    margin-bottom: 70px;
  }

  &__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: $color-main;

    &:hover {
      color: darken($color-main, 5%);
    }
  }

  &__title {
    font-size: 17px;
    margin-left: 15px;
  }
}

.test {
  font-size: 24px;

  &__xthin {
    font-weight: 100;
  }

  &__thin {
    font-weight: 200;
  }

  &__light {
    font-weight: 300;
  }

  &__medium {
    font-weight: 500;
  }

  &__xblack {
    font-weight: 900;
  }
}
