extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/big-heading/big-heading

mixin demo(title,path)
  +b.demo&attributes(attributes)
    +e.A(href=path+'.html').link= title
    +e.SPAN.title= '('+path+'.html)'

block head
  - var pageTitle = 'CAT - демонстрация верстки'

block header
  +header(getData('page-menu'))

block content
  +page-wrap()
    +big-heading() Демонстрация верстки
    +demo('01_СAT_Главная', 'main')
    +demo('02_CAT_Парк техники', 'park-technics')
    +demo('02_CAT_Парк техники: форма', 'order')
    +demo('02_CAT_Парк техники: заявка отправлена', 'order-success')
    +demo('03_САТ_Список услуг', 'services')
    +demo('04_CAT_Услуга', 'service')
    +demo('05_САТ_Проекты', 'projects')
    +demo('06_САТ_Проект', 'project')
    +demo('07_САТ_О Компании', 'about')



block footer
  +footer()
