extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/big-heading/big-heading

mixin demo(title,path)
  +b.demo&attributes(attributes)
    +e.A(href=path+'.html').link= title
    +e.SPAN.title= '('+path+'.html)'

block head
  - var pageTitle = 'CAT - демонстрация верстки'

block header
  +header(getData('page-menu'))

block content
  +page-wrap()
    +big-heading() Демонстрация верстки
    +demo('01_СAT_Главная', 'main')
    +demo('02_CAT_Парк техники', 'park-technics')
    +demo('02_CAT_Парк техники: форма', 'order')
    +demo('02_CAT_Парк техники: заявка отправлена', 'order-success')
    +demo('03_САТ_Список услуг', 'services')
    +demo('03_САТ_Список услуг (ДЕМО ПЕРЕСТРОЕНИЯ СЕТКИ)', 'services-demo')
    +demo('04_CAT_Услуга', 'service')
    +demo('05_САТ_Проекты', 'projects')
    +demo('06_САТ_Проект', 'project')
    +demo('07_САТ_О Компании', 'about')
    +demo('Заказать услугу', 'order-service')
    +demo('Услуга: заявка отправлена', 'order-service-success')
    +b.test
      +e.xthin Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
      +e.thin Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
      +e.light
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
      +e.medium Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
      P <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <i>Ut enim ad minim veniam, quis nostrud exercitation ullamco</i> laboris nisi ut aliquip ex ea commodo consequat.</b> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      +e.xblack Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>



block footer
  +footer()
