extends ../../layouts/default
include ../../components/header/header
include ../../components/footer/footer
include ../../blocks/page-wrap/page-wrap
include ../../blocks/text/text
include ../../blocks/big-heading/big-heading
include ../../blocks/bordered-text/bordered-text

block head
  - var pageTitle = 'CAT - О Компании'

block header
  -
    var data = getData('page-menu')
    data[3].active = true
  +header(data)

block content
  +b.about
    +e.header
      +e.IMG.image(src='assets/images/about/header.jpg' alt='')
      +e.info
        +big-heading.__heading О компании
        +text
          p Работа со сложными грузами, обслуживание спецтехники и помощь в организации собственных служб перевозки

    +e.content
      +e.col._left
        +bordered-text
          +border-text-heading Компания Спецавтотранс (ООО «САТ») специализируется на работе со сложными грузами
          +border-text-content
            +text
              p
                | У нас вы можете заказать такелажные работы, перевозку крупногабаритных и
                | тяжеловесных грузов, услуги техники для подъема и перемещения тяжестей.
                | При необходимости рабочие демонтируют оборудование и установят его на новом месте.

        img(src='assets/images/about/left-image.jpg' alt='')

      +e.col._right
        +text
          h2.about__right-heading Сервисное обслуживание техники
          p
            | Поддержанием работоспособности собственного парка спецтехники занимаются профессионалы,
            | которые знают все особенности тяжелых машин. Нужно отремонтировать подъемный кран или
            | грузовик? Воспользуйтесь сервисом ООО «САТ»! Закажите запчасти для спецтехники,
            | пройдите плановое ТО, получите квалифицированную помощь в ремонте и обслуживании, консультацию по эксплуатации.
        +text
          h2.about__right-heading Дополнительные услуги

          p Для упрощения работы с грузами в ООО «САТ» организована узкоспециальная поддержка заказчиков:
          p <b>Проведение экспертизы</b> промышленной безопасности с подготовкой, оценкой, выдачей заключения и внесением сведений в реестр. Вы получаете документ, разрешающий дальнейшую эксплуатацию объекта.
          p <b>Регистрация</b> подъемных механизмов в Ростехнадзоре. Ваша техника получает официальные регистрационные номера.
          p <b>Профессиональное обучение</b> с выдачей сертификатов.
          p В результате работа с подъемной техникой становится официально разрешенной и вам не страшны визиты проверяющих органов.
    +e.info-block
      +e.col._left
        +bordered-text
          +border-text-heading Отправляем грузы во все города России, осуществляем международные перевозки.
      +e.col._right
        +text
          p
            | Доверьте нам оформление разрешений, сопроводительной документации, проведение проверок, экспертиз.
            | В компании Спецавтотранс вы найдете комплексный подход к работе с грузами, когда от заказчика требуется только объяснить подробности задачи.

    +e.cards
      +e.cards-row._full
        +e.card
          //- сюда нужно вставить карточку
        +e.card
          //- сюда нужно вставить карточку
      +e.cards-row
        +e.card
          //- сюда нужно вставить карточку
        +e.card
          //- сюда нужно вставить карточку

block footer
  +footer()
