extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/text/text
include ../../blocks/big-heading/big-heading
include ../../blocks/bordered-text/bordered-text
include ../../blocks/advantage/advantage

block head
  - var pageTitle = 'CAT - О Компании'

block header
  -
    var data = getData('page-menu')
    data[3].active = true
  +header(data)

block content
  +b.about
    +e.header
      +e.IMG.image(src='assets/images/about/header.jpg' alt='')
      +e.info.container_static
        +big-heading.__heading О компании
        +text._big._grey
          p Работа со сложными грузами, обслуживание спецтехники и помощь в организации собственных служб перевозки

    +e.content
      .container_static
        +e.col._left
          +bordered-text
            +border-text-heading Работа с крупногабаритными грузами и обслуживание спецтехники
            +border-text-content
              +text
                p Компания Спецавтотранс – это команда профессионалов с собственным парком спецтехники и опытом работы с крупными клиентами и сложными проектами. Основными направлениями ООО «САТ» является:
                ol
                  li Перевозки крупногабаритных и тяжеловесных грузов.
                  li Услуги грузоподъемной техники.
                  li Сервисное обслуживание спецтехники.
                p В работе компании Спецавтотранс, используется собственный парк спецтехники: тягачи, тралы и подъемные краны всемирно известных брендов (LIEBHERR, TEREX-DEMAG, TADANO, FUWA, HAULOTTE, Nooteboom, Faymonville, Mercedes, Man).
          +e.image-content
            img(src='assets/images/about/left-image.jpg' alt='')

        +e.col._right
          +text
            h2.about__right-heading География
            p Полностью освоена территория Дальневосточного региона: Хабаровск, Благовещенск, Владивосток, Якутск, Южно-Сахалинск, Магадан, Биробиджан, Чита; Иркутск, Комсомольск-на-Амуре. Среди международных отправлений основной поток грузов приходится на Китай. Дополнительно рассматриваем новые направления, в том числе и международные.
          +text
            h2.about__right-heading Расширенный перечень услуг:
            ul
              li услуги крана в Хабаровске и городах Дальнего Востока;
              li логистические услуги при перевозке груза;
              li перевозка грузов автотранспортом;
              li перевозка грузов речным и морским транспортом;
              li перевозка негабаритных и тяжеловесных грузов;
              li такелажные работы;
              li спуск/подъем водного транспорта на воду;
              li оказание услуг транспортом и подъемной техникой населению;
              li ремонт спецтехники, грузовых автомобилей;
              li продажа спецтехники, автомобилей, запасных частей.
    +e.info-block
      .container_static
        +e.col._left
          +bordered-text
            +border-text-heading Отправляем грузы во все города России, осуществляем международные перевозки.
        +e.col._right
          +text
            p
              | Доверьте нам оформление разрешений, сопроводительной документации, проведение проверок, экспертиз.
              | В компании Спецавтотранс вы найдете комплексный подход к работе с грузами, когда от заказчика требуется только объяснить подробности задачи.

    +e.cards
      +e.cards-row._full
        +advantage()._main.__card._center
          +advantage-intro() Преимущества сотрудничества c ООО <b>«САТ»</b>:
        +advantage()._dark.__card
          +advantage-heading()
            +advantage-number('01')._color_main
            +advantage-headtext() Собственный парк <br>техники
          +advantage-text()._c-light Вы ставите задачу и мы без задержек на поиск исполнителей приступаем к ее ыполнению.
      +e.cards-row
        +advantage().__card
          +advantage-heading()
            +advantage-number('02')._color_dark._o_10
            +advantage-headtext()._dark Квалифицированный <br>постоянный персонал
          +advantage-text()._grey Коллектив работает слаженно, каждый знает и точно выполняет свои обязанности.   Работа с вашим грузом проходит быстро и без неприятных сюрпризов.
        +advantage()._darken.__card
          +advantage-heading()
            +advantage-number('03')._color_light._o_10
            +advantage-headtext()._dark Работаем с 2005 года
          +advantage-text()._c-light За это время накопился немалый опыт, появились нужные контакты и налаженные связи с необходимыми организациями – все это поможет вам быстро оформить и доставить груз.
      +e.cards-row
        +advantage()._dark.__card
          +advantage-heading()
            +advantage-number('04')._color_main
            +advantage-headtext() Комплекс услуг
          +advantage-text()._c-light Полный комплекс услуг по работе с крупногабаритными и тяжеловесными грузами.
        +advantage().__card
          +advantage-heading()
            +advantage-number('05')._color_dark._o_10
            +advantage-headtext()._dark Междунарожные перевозки
          +advantage-text()._grey Международные перевозки со страховкой и таможенным оформлением.
        +e.footer
          +e.footer-content
            +e.footer-bg
              img(src='assets/images/about/footer.jpg')
            +bordered-text()._full.__footer-text
              +text()._white._bold._big
                p +7 924 401 73 74
                p +7 914 408 73 14
            +text()._white.__footer-text
              p Позвоните или оставьте сообщение и узнайте подробнее о цене такелажных работ, особенностях логистики и тарифах на местные и международные перевозки, сроках получения разрешений. Специалист ООО «САТ» поможет подобрать технику, объяснит подробности сотрудничества, ответит на любые вопросы по работе со сложными грузами и обслуживании техники.

block footer
  +footer()
