.about {
  position: relative;
  display: block;
  clear: left;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #fc9a00;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 130px;
    padding-right: 90px;
    z-index: 1;

    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__image {
    position: relative;
    width: 87%;
    height: auto;
    max-height: 100vh;
    margin-left: auto;
    z-index: 1;

    @media (max-width: 768px) {
      width: 100%;
      min-height: 196px;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -250px;
    width: 94%;
    min-height: 395px;
    padding: 40px 179px 40px 0;
    background-color: #fff;

    @media (max-width: 768px) {
      width: initial;
      min-height: initial;
      flex-direction: column;
      margin-top: -60px;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 38px;
      padding-right: 38px;
    }

    .text {
      max-width: 332px;

      @media (max-width: 768px) {
        max-width: initial;
        padding-right: 24px;
        margin-top: 33px;
      }
    }
  }

  &__heading { display: inline-block; }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 70px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__col {
    display: block;
    width: 50%;
    padding-left: 130px;
    padding-right: 130px;

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .bordered-text {
      @media (max-width: 768px) {
        margin-left: 20px;
        margin-right: 31px;
      }
    }

    &_left {
      background-color: #fff;

      img {
        margin-top: 106px;
        width: 100%;
        height: auto;

        @media (max-width: 768px) {
          margin-top: 52px;
        }
      }
    }

    &_right {
      padding-top: 40px;
      padding-bottom: 126px;
      background-color: #fafafa;

      @media (max-width: 768px) {
        margin-top: 20px;
        padding: 43px 42px 61px 40px;
      }

      .text {
        max-width: 398px;
        margin-top: 78px;

        @media (max-width: 768px) {
          max-width: initial;
        }

        p {
          display: block;

          &:not(:first-child) { margin-top: 33px; }
        }
      }
    }
  }

  &__right-heading {
    margin-bottom: 36px;
    font-family: $PfDin;
    font-weight: 400;
    color: #1b1b21;
    font-size: 30px;
    line-height: 25px;
  }

  &__info-block {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-top: 134px;
    padding-bottom: 149px;
    background-color: #fff;

    @media (max-width: 768px) {
      align-items: flex-start;
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 90px;
      padding: 0 50px 0 40px;
    }

    .about__col {

      &_right {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;

        .text { color: #74747d; }
      }
    }
  }

  &__cards {
    display: block;
    width: 100%;
    z-index: 2;

    &-row {
      display: flex;
      width: 100%;
      padding-left: 90px;
      padding-right: 90px;
      flex-wrap: wrap;

      &_full {
        position: relative;
        background-color: #fff;
        z-index: 1;
      }

      .about__card {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__card {
    width: 50%;
    min-height: 350px;
    max-height: 30vh;
  }

  &__footer {
    position: relative;
    min-height: 700px;
    width: 100%;
    margin-left: -90px;
    margin-top: -85px;
    z-index: 0;
  }

  &__footer-content {
    padding: 310px 70px 200px 255px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__footer-bg {
    @include full-size;

    overflow: hidden;
    z-index: -1;

    &::after {
      content: '';

      @include full-size;

      background-color: $color-dark;
      opacity: .6;
    }

    img {
      @include fill-img;
    }
  }

  &__footer-text {
    max-width: 50%;
  }
}
