.container {
  width: 100%;
  padding: 0 45px;

  @include screen(tablet-wide,max) {
    padding: 0 20px;
  }

  &_static {
    margin: 0 auto;
    width: $container-width;
    padding: 0;

    @media (max-width: $container-width) {
      width: 100%;
    }
  }
}
