.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;

  @include screen(desktop-wide, min) {
    width: $container-width;
    padding: 0;
  }

  @include screen(tablet, max) {
    padding: 0 20px;
  }
}
