.service {
  display: block;
  overflow: visible;

  &_bottom {
    background-color: #fafafa;
    padding: 80px 0;
    margin-left: -90px;
    margin-right: -90px;
    width: calc(100% + 180px);

    @include screen(tablet-wide,max) {
      padding: 25px 0 70px;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
    }
  }

  &_top {
    padding-bottom: 55px;

    @include screen(tablet-wide,max) {
      margin-top: 180px;
      padding-bottom: 10px;
    }
  }

  &__heading {
    background-color: #fafafa;
    padding: 90px 120px 80px 50%;
    position: relative;
    margin-left: -45px;
    margin-right: -45px;
    width: calc(100% + 90px);

    @include screen(tablet-wide, max) {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      padding: 147px 40px 50px;
    }
  }

  &__heading-image {
    position: absolute;
    left: 45px;
    top: 0;
    height: 520px;
    width: 37.5%;
    overflow: hidden;

    @include screen(tablet-wide, max) {
      transform: translate(-50%, -50%);
      left: 50%;
      width: calc(100% - 40px);
      height: 240px;
    }

    img {
      @include fill-img;
    }
  }

  &__row {
    display: flex;

    @include screen(tablet-wide,max) {
      flex-direction: column;
    }

    &_top {
      padding-top: 66px;

      @include screen(tablet-wide,max) {
        padding-top: 38px;
      }
    }
  }

  &__col {
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;

    @include screen(tablet-wide,max) {
      max-width: 100%;
      flex-basis: 100%;
    }

    &_left {
      padding-top: 11%;

      @include screen(tablet-wide,max) {
        display: none;
      }
    }

    &_order {
      @include screen(tablet-wide,max) {
        order: 1;
      }
    }
  }

  &__info {
    font-size: 14px;
    color: #868696;
    letter-spacing: .025em;
    line-height: 1.517;
    width: 35%;
  }

  &__bot-image {
    width: 100%;
    min-height: 360px;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      @include fill-img;
    }

    @include screen(tablet-wide,max) {
      min-height: 240px;
    }
  }

  &__text {

    &:not(:first-of-type) {
      margin-top: 75px;

      @include screen(tablet-wide, max) {
        margin-top: 35px;
      }
    }

    &_bottom {
      padding-right: 130px;
      padding-top: 50px;

      @include screen(tablet-wide,max) {
        padding-right: 0;
        padding-top: 40px;
      }
    }
  }

  &__button {
    margin-top: 50px;

    @include screen(tablet,max) {
      margin-top: 40px;
    }
  }
}
