extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/big-heading/big-heading
include ../../blocks/text/text
include ../../blocks/button/button

block head
  - var pageTitle = 'CAT - Услуга'

block header
  -
    var data = getData('page-menu')
    data[0].active = true
  +header(data)

block content
  +page-wrap()
    +big-heading().__heading негабаритные <br>перевозки
    +b.service._top
      +e.heading
        +e.heading-left
          +e.heading-image
            img(src='assets/images/service/heading.jpg')
          +e.info-block
            +e.P.info Для расчета стоимости заказа вы можете обращаться к нашим специалистам по телефонам:
            +text()
              p <b>+7 914 408 73 14</b>
              p <b>+7 924 401 73 74</b>
        +text()._big
          p Для негабаритных перевозок требуется спецтехника, опыт и знание, как правильно организовать работу со сложными грузами.
          p В компании Спецавтотранс (ООО «САТ») вы найдете комплексный подход к задаче, полный список услуг, который избавляет заказчика от проблем с погрузкой, перемещением и оформлением документов.
      +e.row._top
        +e.col._left
        +e.col
          +text().__text
            p Какие перевозки считаются негабаритными:
            ol
              li Вес более <b>40 тонн.</b>
              li Длина объекта превышает <b>20 метров.</b>
              li Ширина конструкции более <b>2,55 метров.</b>
              li Высота (вместе с тралом) больше <b>4 метров.</b>
            p То есть груз становится слишком большим и/или тяжелым, чтобы проехать по дорогам без применения спецтехники и особых защитных мер.
          +text().__text
            h2 Техника для негабаритных перевозок
            p Стандартный вариант при использовании автомобилей – трал. Это тяжелый прицеп с открытой площадкой в трех вариантах исполнения:
            ol
              li Высокорамный. <b>Высота площадки более метра.</b>
              li Среднерамный. <b>Высота 85-95 см.</b>
              li Низкорамный. <b>40-70 см.</b>
            p Низкорамные тралы упрощают загрузку и помогают перевезти крупногабаритные изделия через участки с тоннелями и мостами. Техника отличается классом грузоподъемности, количеством осей, длиной платформы – после уточнения размеров и массы груза сотрудники ООО «САТ» помогут найти подходящий вариант.
          +text().__text
            h2 Список возможных негабаритных грузов
            p В компании Спецавтотранс вы можете заказать перевозку промышленного оборудования, сельскохозяйственной, дорожной и строительной техники. Доставляем негабаритные емкости, готовые заводские линии, длинномерные конструкции, буровые установки. Погрузим и перевезем все, что невозможно или нерационально перемещать по частям.
          +text().__text
            h2 Комплексный подход к негабаритным перевозкам
            p Работа начинается с составления схемы перевозки негабаритного груза и заканчивается разгрузкой в точке назначения. Общая последовательность выглядит так:
            ul
              li <b>Определение характеристик.</b> Обмер, взвешивание (вычисление массы). Подробные сведения помогают выбрать технику для погрузки и перевозки, правильно оформить документы и организовать сопровождение.
              li <b>Согласование маршрута и времени.</b> Правильный выбор трассы гарантирует, что в пути не возникнет задержек. В идеале – контрольный проезд по маршруту непосредственно перед отправкой.
              li <b>Оформление документов.</b> Для негабаритных грузов необходимо получить разрешение в Росавтодоре, организовать сопровождение машинами с проблесковыми маячками или экипажами ДПС. При международных отправлениях потребуется составление таможенной документации.
              li <b>Такелажные работы.</b> В ООО «САТ» вы можете заказать погрузку и разгрузку тяжелых крупногабаритных грузов, а также демонтаж конструкций и установку в точке назначения.
              li <b>Перевозка.</b> Трал или грузовик с сопровождением выезжает точно по расписанию и доставляет негабаритный груз.
    +b.service._bottom
      +container()
        +e.row
          +e.col._order
            +text().__text._bottom
              p Компания Спецавтотранс предлагает комплексный подход к перевозке негабарита. Вам не придется обращаться в другую компанию для вызова погрузочной техники, оформления документов или организации сопровождения – в ООО «САТ» практикуется доставка грузов любой сложности своими силами. Свяжитесь с нашим консультантом, уточните тарифы и получите подробную информацию по любому этапу перевозки.
            +button('order-service.html').__button Заказать
          +e.col
            +e.bot-image
              img(src='assets/images/service/bottom.jpg')

block footer
  +footer()
