.product-preview {
  display: inline-flex;

  @include screen(tablet, max) {
    flex-direction: column;
    align-items: center;
  }

  &_col {
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include screen(tablet-wide, min) {
      width: 36%;
      justify-content: center;
    }

    .product-preview {

      &__desc-text {
        max-width: 100%;
        font-size: 14px;

        @include screen(tablet-wide, min) {
          margin-top: 15px;
        }
      }

      &__image-wrap {
        cursor: auto;
        margin-top: 0;

        @include screen(tablet-wide, min) {
          margin-left: 7px;
          margin-top: 13px;
        }

        img {
          @include screen(tablet-wide, min) {
            width: 90%;
          }
        }
      }
    }
  }

  &__image-wrap {
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    width: 320px;
    height: 250px;

    &:hover {

      .product-preview__description {
        @include screen(tablet, min) {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__image-overlay {
    position: relative;
    // background-color: rgba(252, 154, 0, .5);
    width: 100%;
    height: 100%;

    img {
      @include center-block;

      width: 70%;
      height: 80%;
      object-fit: contain;
      filter: grayscale(1) sepia(10%) saturate(8) hue-rotate(-10deg) brightness(90%) contrast(125%);
      // mix-blend-mode: luminosity;
      // filter: grayscale(1);
      // background-color: #fff;
    }
  }

  &__description {
    @include full-size;

    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    padding: 23px 39px;

    @include transition(opacity);

    &_active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__desc-text {
    font-size: 15px;
    letter-spacing: .05em;
    line-height: 1.6;
    max-width: 215px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 130px;

    @include screen(tablet, max) {
      max-width: 100%;
      width: 240px;
      margin-top: -6px;
    }
  }

  &__type {
    font-size: 14px;
    letter-spacing: .075em;
    line-height: 1.714;
  }

  &__title {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: .05em;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__mobile {
    @include screen(tablet, min) {
      display: none;
    }
  }

  &__act-hover {

    .small-action__icon-plus {

      &:hover {
        @include screen(tablet, min) {

          & + .small-action__text {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}
