/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff'),
       url('webfont.otf')  format('opentype'),
       url('webfont.ttf')  format('truetype'),
       url('webfont.svg#svgFontName') format('svg');
}
*/

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/

//  Bebas Neue
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/BebasNeue Thin.otf')  format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/BebasNeue Light.otf')  format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BebasNeue Regular.otf')  format('opentype');
}

// @font-face {
//   font-family: 'Bebas Neue';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/BebasNeue Book.otf')  format('opentype');
// }

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/BebasNeue Bold.otf')  format('opentype');
}

// Pf Din
@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/PFDINTEXTCONDPRO-XTHIN.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/PFDINTEXTCONDPRO-XTHINITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/PFDINTEXTCONDPRO-THIN.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/PFDINTEXTCONDPRO-THINITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/PFDINTEXTCONDPRO-LIGHT.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/PFDINTEXTCONDPRO-LIGHTITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PFDINTEXTCONDPRO-REGULAR.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/PFDINTEXTCONDPRO-ITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PFDINTEXTCONDPRO-MEDIUM.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/PFDINTEXTCONDPRO-MEDIUMITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/PFDINTEXTCONDPRO-BOLD.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/PFDINTEXTCONDPRO-BOLDITALIC.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/PFDINTEXTCONDPRO-XBLACK.TTF')  format('truetype');
}

@font-face {
  font-family: 'Pf Din';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/PFDINTEXTCONDPRO-XBLACKITALIC.TTF')  format('truetype');
}

// Circle
@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Circe-Regular.eot');
  src:
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf')  format('truetype'),
    url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
}
