// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1280px; // Ширина контейнера контента
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками

// ##########
// Цвета
// ##########
$color-main: #fc9a00; // Основной цвет сайта
$color-dark: #1b1b21;
$color-darkgrey: #4a4a53;
$color-grey: #74747d;
$color-placeholder: $color-dark; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea

// ##########
// Шрифты
// ##########
$BebasNeue: 'Bebas Neue', sans-serif;
$PfDin: 'Pf Din', sans-serif;
$ProximaNova: 'Proxima Nova', sans-serif;

$font-main: $ProximaNova;
