.action {
  display: inline-flex;
  align-items: center;

  &__line {
    width: 58px;
    height: 2px;
    margin-right: 25px;
    background-color: $color-main;
    box-shadow: 0 0 10px rgba($color-main, .3);

    @include screen(tablet, max) {
      box-shadow: none;
      width: 25px;
      margin-right: 15px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    letter-spacing: .075em;
    text-transform: uppercase;

    &:hover {
      color: darken(#fff, 15%);
    }

    @include screen(tablet, max) {
      font-size: 15px;
    }
  }
}

.small-action {
  display: flex;
  align-items: center;

  &__icon-plus {
    stroke: $color-main;
    stroke-width: 2px;
    width: 14px;
    height: 14px;
    margin-right: 15px;
    cursor: pointer;
  }

  &__text {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $color-main;
  }

  &_icon {

    .small-action__text {
      @include screen(tablet, min) {
        opacity: 0;
        pointer-events: none;

        @include transition(opacity);
      }
    }
  }

  &_white {

    .small-action {

      &__icon-plus {
        stroke: #fff;
      }

      &__text {
        color: #fff;
      }
    }
  }
}
