.action {
  display: inline-flex;
  align-items: center;

  &__line {
    width: 58px;
    height: 2px;
    margin-right: 25px;
    background-color: $color-main;
    box-shadow: 0 0 5px 2.5px rgba($color-main, .3);

    @include screen(tablet, max) {
      box-shadow: none;
      width: 25px;
      margin-right: 15px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $PfDin;
    font-size: 17px;
    color: #fff;
    letter-spacing: .075em;
    text-transform: uppercase;

    &:hover {
      color: darken(#fff, 15%);
    }

    @include screen(tablet, max) {
      font-size: 15px;
    }
  }
}
