.main-slide {
  display: flex;
  min-height: 100vh;
  padding: 160px 0 90px;

  &.active {

    .main-slide__slide-bg {
      transform: scale(1.05);
    }
  }

  &__cities-list {
    margin-right: 50px;
  }

  &__action {
    margin-top: 28px;

    &_t_38 {
      margin-top: 38px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
  }

  &__col {
    box-sizing: content-box;

    &_w {

      &_685 {
        flex-basis: 685px;
      }

      &_500 {
        flex-basis: 500px;
      }

      &_full {
        flex-basis: 100%;
      }
    }

    &_left {
      padding-left: 173px;
      margin-top: 47px;
      flex-basis: 50%;
      box-sizing: border-box;

      .big-heading {
        max-width: 370px;
      }
    }

    &_right {
      padding-left: 120px;
      flex-basis: 50%;
      box-sizing: border-box;
    }

    &_center {
      padding-left: 298px;
      margin-top: 32px;

      .text {
        max-width: 280px;
        margin-top: 21px;

        p {
          line-height: 1.75;
        }
      }
    }
  }

  &__slide-bg {
    @include full-size;

    z-index: -1;
    overflow: hidden;
    transition: transform 5s cubic-bezier(.3, 0, .7, 1) .5s;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      height: 100%;
      background-color: #141418;
      z-index: 0;
      transform: scale3d(1, 1, 1);
      transform-origin: right center;
      transition: all .5s ease-in-out;
    }

    &_active {

      &::after {
        transform: scale3d(.5, 1, 1);
      }
    }

    img {
      @include fill-img;
    }

    &_left {

      &::after {
        width: 50%;
        left: 0;
      }
    }

    &_right {

      &::after {
        width: 50%;
        right: 0;
      }
    }

    &_full {

      &::after {
        width: 100%;
        right: 0;
      }
    }

    &_o {

      &_70 {

        &::after {
          opacity: .7;
        }
      }

      &_80 {

        &::after {
          opacity: .8;
        }
      }

      &_85 {

        &::after {
          opacity: .85;
        }
      }

      &_90 {

        &::after {
          opacity: .9;
        }
      }
    }
  }

  &__scroll {
    margin-top: auto;
    margin-left: 52.7%;
    padding-top: 32px;
  }

  &__map {
    @include full-size;
  }

  &__contact-text {
    padding-left: 37px;
    margin-top: 35px;
  }

  &__contact-form {
    z-index: 5;
    position: relative;
    pointer-events: all;

    @include transition(opacity);

    &_disabled {
      opacity: 0;
      pointer-events: none;
    }
  }
}
