.main-slide {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  padding: 90px 0;
  position: relative;

  @include screen(desktop,max) {
    padding: 120px 0 60px;
  }

  @include screen(tablet,max) {
    padding: 80px 0 45px !important;
  }

  &.active {

    .main-slide__slide-bg {
      transform: scale(1.05);
    }

    .fromLeft {
      @include screen(tablet-wide,min) {
        animation: fadeInLeft 2s .2s;
        animation-fill-mode: both;
      }

      &_backwards {
        @include screen(tablet-wide,min) {
          animation-fill-mode: backwards;
        }
      }
    }

    .fromRight {
      @include screen(tablet-wide,min) {
        animation: fadeInRight 2s .2s;
        animation-fill-mode: both;
      }
    }
  }

  &__cities-list {
    margin-right: 50px;
  }

  &__action {
    margin-top: 28px;
    z-index: 1;
    position: relative;

    &_hide {
      @include screen(tablet,max) {
        display: none;
      }
    }

    &_show {
      @include screen(tablet-wide,min) {
        display: none;
      }
    }

    &_left {
      margin-right: auto;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__row {
    display: flex;

    @include screen(tablet,max) {
      flex-direction: column;
    }

    &_vertical {
      @include screen(tablet-wide,max) {
        flex-direction: column;
      }
    }

    &_center {
      justify-content: center;
      align-items: center;

      .text {
        max-width: 40%;
        margin-top: 21px;

        @include screen(tablet,max) {
          display: none;
        }

        p {
          line-height: 1.75;
        }
      }

      &_m {
        @include screen(tablet,max) {
          max-width: 55%;
          align-self: center;
        }

        @include screen(phablet,max) {
          max-width: 100%;
        }
      }
    }

    &_wrap {
      flex-wrap: wrap;
    }
  }

  &__col {
    box-sizing: content-box;

    @include screen(tablet-wide,max) {
      flex-basis: auto !important;
      padding-left: 0 !important;
      margin-top: 0 !important;
    }

    &_w {

      &_685 {
        flex-basis: 685px;
      }

      &_500 {
        flex-basis: 500px;
      }

      &_full {
        flex-basis: 100%;
      }
    }

    &_left {
      padding-left: 173px;
      align-self: flex-start;
      margin-top: 50px;
      flex-basis: 50%;
      box-sizing: border-box;

      @include screen(tablet-wide,max) {
        padding-left: 80px;
      }

      .big-heading {
        max-width: 370px;
      }
    }

    &_right {
      padding-left: 150px;
      flex-basis: 50%;
      box-sizing: border-box;

      @include screen(tablet-wide,max) {
        padding-left: 45px;
      }
    }
  }

  &__slide-bg {
    @include full-size;

    z-index: -1;
    overflow: hidden;
    transition: transform 5s cubic-bezier(.3, 0, .7, 1) .5s;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      height: 100%;
      background-color: #141418;
      z-index: 0;
      transform: scale3d(1, 1, 1);
      transform-origin: right center;
      transition: all .5s ease-in-out;

      @include screen(tablet-wide,max) {
        width: 100%;
        transform-origin: top;
      }
    }

    &_active {

      &::after {
        @include screen(tablet-wide, min) {
          transform: scale3d(.5, 1, 1);
        }

        @include screen(tablet-wide, max) {
          transform: scale3d(1, .5, 1);
        }
      }
    }

    img {
      @include fill-img;
    }

    &_left {

      &::after {
        width: 50%;
        left: 0;
      }
    }

    &_right {

      &::after {
        width: 50%;
        right: 0;
      }
    }

    &_full {

      &::after {
        width: 100%;
        right: 0;
      }
    }

    &_o {

      &_70 {

        &::after {
          opacity: .7;

          @include screen(tablet-wide,max) {
            opacity: .5;
          }
        }
      }

      &_80 {

        &::after {
          opacity: .8;

          @include screen(tablet-wide,max) {
            opacity: .7;
          }
        }
      }

      &_85 {

        &::after {
          opacity: .85;

          @include screen(tablet-wide,max) {
            opacity: .5;
          }
        }
      }

      &_90 {

        &::after {
          opacity: .9;
        }
      }
    }
  }

  &__scroll {
    margin-top: auto;
    margin-left: 52.7%;
    padding-top: 32px;
  }

  &__map {
    @include full-size;
  }

  &__contact-text {
    padding-left: 37px;
    margin-bottom: auto;
    pointer-events: all;

    @include transition(all);

    @include screen(tablet-wide,max) {
      width: 100%;
      padding-left: 0;
    }

    &_disabled {
      height: 0;
      opacity: 0;
      pointer-events: none;
      width: 0;
      margin: 0;
    }
  }

  &__contact-form {
    margin-left: 35px;
    margin-top: 5px;
    z-index: 5;
    position: relative;
    pointer-events: all;
    height: auto;

    @include screen(tablet-wide,max) {
      width: 100%;
      margin-left: 0;
    }

    @include transition(all);

    &_disabled {
      opacity: 0;
      pointer-events: none;

      @include screen(tablet-wide,max) {
        height: 0;
        width: 0;
      }
    }
  }

  &__main {
    padding-top: 95px;
  }

  &__heading {
    z-index: 1;

    @include screen(tablet,max) {
      padding-right: 18%;
      box-sizing: border-box;
    }

    &_top {
      @include screen(tablet-wide,max) {
        margin-top: 65px;
      }
    }

    &_left {
      @include screen(tablet-wide,min) {
        padding-left: 300px;
      }
    }
  }

  &__list {
    @include screen(tablet,max) {
      padding-right: 50px;
      margin-top: 20px;
    }
  }

  &__map-actions {
    display: flex;
    justify-content: space-between;
  }

  &__map-controls {
    position: absolute;
    bottom: 60px;
    right: calc(50% + 35px);

    @include screen(tablet-wide,max) {
      transform: translateY(-50%);
      bottom: 20%;
      right: 35px;
    }
  }
}

.toMap {
  @include screen(tablet-wide,min) {
    display: none;
  }

  &_main {
    display: none;
    position: relative;
    margin-right: auto;
    pointer-events: all;
  }
}
