include ../../../node_modules/bemto.pug/bemto
include ../../blocks/project-preview/project-preview
include ../../blocks/grid/grid

+col(6)
  +project-preview('негабаритные перевозки', 'Перевозка автокрана Kato 65 тонн из Хабаровска в Комсомольск-на-Амуре', 1)._big
+col(3)
  +project-preview('Услуги грузоподъемных механизмов', 'Демонтаж башенного крана', 2)
+col(3)
  +project-preview('негабаритные перевозки', 'Перевозка колонны 86 тонн', 3)
+col(6)
  +project-preview('Услуги грузоподъемных механизмов', 'Оказание услуг кранами при строительстве Сахалинской ГРЭС-2', 4)._big
