include ../icon/icons
include ../big-heading/big-heading

mixin menu(data)
  +b.menu&attributes(attributes)
    +e.mobile-controls
      +logonotext()
      +burger()._close
    +big-heading().__heading Меню
    +e.UL.items
      each item in data
        if item.active
          +e.LI.item._active
            +e.A(href=item.path).link= item.title
        else
          +e.LI.item
            +e.A(href=item.path).link= item.title

mixin burger()
  +b.BUTTON.burger&attributes(attributes)
