.menu {
  transition: opacity .4s ease-in-out, z-index .4s ease-in-out;

  @include screen(tablet, max) {
    display: block;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    opacity: 0;
    z-index: -1;
  }

  &_active {
    @include screen(tablet, max) {
      opacity: 1;
      z-index: 5;
    }
  }

  &__heading {
    @include screen(tablet, min) {
      display: none;
    }

    @include screen(tablet, max) {
      padding: 92px 0 28px;
    }
  }

  &__items {
    width: 100%;
    display: inline-flex;

    @include screen(tablet,max) {
      flex-direction: column;
    }
  }

  &__mobile-logo {
    @include screen(tablet, min) {
      display: none;
    }

    width: 80px;
    height: 30px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-main;
    }
  }

  &__item {

    &:not(:first-of-type) {
      @include screen(tablet, max) {
        margin-left: 0;
        margin-top: 31px;
      }

      @include screen(tablet, min) {
        margin-left: 30px;
      }

      @include screen(desktop, min) {
        margin-left: 70px;
      }
    }
  }

  &__link {
    font-family: $PfDin;
    font-size: 17px;
    letter-spacing: .075em;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: block;

    @include screen(tablet, max) {
      color: $color-dark;
      text-align: center;
      font-size: 15px;
    }

    &:hover {
      color: darken(#fff, 15%);
    }
  }
}

.burger {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 8px 0;
  background-color: transparent;

  &::before {
    content: '';
    width: 29px;
    height: 2px;
    background-color: #fff;
    display: block;

    @include transition(background-color);
  }

  @include screen(tablet, min) {
    display: none;
  }

  &_active {
    z-index: 10;
    border-color: #2e2e2e;

    &::before {
      background-color: #2e2e2e;
    }
  }
}
