include ../../node_modules/bemto.pug/bemto
include ../blocks/grid/grid
include ../components/header/header
include ../components/footer/footer
include ../blocks/container/container

doctype html
html(lang='ru')
  include head
  body
    block header
    block content
    block footer
    script(src='assets/scripts/libs/jquery.magnific-popup.min.js')
    script(src='assets/scripts/app.min.js')
    block scripts
