.spinner {
  display: block;
  width: 43px;
  height: 43px;
  background-image: url('../images/spinner.png');
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
