.park-technics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 116px;

  @include screen(desktop,max) {
    justify-content: space-around;
    padding: 0;
  }

  &__product {
    max-width: 450px;
    margin-bottom: 98px;

    @include screen(tablet,max) {
      margin-bottom: 42px;
    }
  }
}
