extends ../../layouts/default
include ../../components/header/header
include ../../components/footer/footer

block head
  - var pageTitle = 'CAT - Парк техники'

block header
  -
    var data = getData('page-menu')
    data[2].active = true
  +header(data)

block content
  +b.park-technics

block footer
  +footer()
