include ../../../node_modules/bemto.pug/bemto
include ../../blocks/product-preview/product-preview

- var item = getData('park-technics')[0]
- item.img = 'assets/images/park-technics/1.png'

+product-preview(item).__product
+product-preview(item).__product
+product-preview(item).__product
+product-preview(item).__product
