extends ../../layouts/default
include ../../blocks/big-heading/big-heading
include ../../blocks/product-preview/product-preview
include ../../blocks/page-wrap/page-wrap

block head
  - var pageTitle = 'CAT - Парк техники'

block header
  -
    var data = getData('page-menu')
    data[2].active = true
  +header(data)

block content
  +page-wrap()
    +big-heading().__heading парк техники
    +b.park-technics
      - var i = 1
      each item in getData('park-technics')
        - item.img = 'assets/images/park-technics/'+i+'.png'
        +product-preview(item).__product
        - i++

block footer
  +footer()
