extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/big-heading/big-heading
include ../../blocks/grid/grid
include ../../blocks/service-preview/service-preview

block head
  - var pageTitle = 'CAT - Услуга'

block header
  -
    var data = getData('page-menu')
    data[0].active = true
  +header(data)

block content
  +page-wrap()
    +big-heading().__heading Наши услуги
    +b.services
      +grid()
        +col(4)
          +service-preview('oversized', 'Негабаритные перевозки')._text-big
          +grid().__subgrid
            +col(3)
              +service-preview('logistics', 'Логистические услуги')
            +col(3)
              +service-preview('rigging', 'Такелажные работы')
        +col(2)
          +service-preview('load-lifting', 'Услуги грузоподъемных механизмов')._tall._text-big
        +col(3)
          +service-preview('repair', 'Ремонт спецтехники')
        +col(3)
          +service-preview('international', 'Международные перевозки грузов')

block footer
  +footer()
