include ../../blocks/left-toggler/left-toggler
include ../../blocks/pagination/pagination
include ../../blocks/container/container

mixin main-controls()
  +b.main-controls&attributes(attributes)
    +container.container_static
      +left-toggler()
      +pagination().__pagination
