.input {
  display: block;
  width: 100%;
  font-family: $PfDin;
  font-size: 17px;
  color: $color-dark;
  letter-spacing: .05em;
  line-height: 3.411;
  background-color: transparent;
  border-bottom: 1px solid rgba(101, 101, 106, .4);
  min-height: 58px;

  &-error-message {
    margin-top: 5px;
    font-size: 14px;
    color: red;
    min-height: 42px;
  }

  @include transition(color, border-color);

  @include screen(tablet,max) {
    font-size: 15px;
    line-height: 3.2;
    min-height: 48px;
  }

  &.has-error {
    border-color: red;
    color: red;

    &::placeholder { color: red; }
  }

  &_medium {
    font-weight: 500;
    line-height: 1.95;
    min-height: 34px;

    @include screen(tablet, max) {
      line-height: 2.4;
      min-height: 40px;
    }
  }

  &_white {
    color: #fff;

    &::placeholder {
      color: #fff;
    }

    &::after {
      border-top-color: #fff !important;
    }
  }

  &::placeholder {
    text-transform: uppercase;
    opacity: 1;

    @include transition(color);
  }
}
