.input {
  display: block;
  width: 100%;
  font-size: 17px;
  color: #fff;
  font-family: $PfDin;
  letter-spacing: .05em;
  line-height: 3.411;
  background-color: transparent;
  border-bottom: 1px solid rgba(101, 101, 106, .4);

  @include screen(tablet,max) {
    font-size: 15px;
    line-height: 3.2;
  }

  &::placeholder {
    text-transform: uppercase;
  }
}
