extends ../../layouts/default
include ../../blocks/page-wrap/page-wrap
include ../../blocks/big-heading/big-heading
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/product-preview/product-preview

block head
  - var pageTitle = 'CAT - Страница заказа'

block header
  -
    var data = getData('page-menu')
    data[2].active = true
  +header(data)

block content
  +page-wrap()
    +big-heading() Terex demag <br> ac 350/6
    +b.order
      +product-details()
      +e.FORM(methold='POST' action='#' novalidate).form.js-order-form
        +input({type: 'text', placeholder: 'имя', name: 'name'})._medium.__input#orderName
        +input({type: 'email', placeholder: 'email', name: 'email'})._medium.__input#orderEmail
        +input({type: 'tel', placeholder: 'телефон', name: 'phone'})._medium.__input#orderPhone
        +button().__button Отправить заявку


block footer
  +footer()

block scripts
  script(src='assets/scripts/ajax/order-validation.js')
