.footer-cities {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 365px;

  @include screen(phablet, max) {
    max-width: 240px;
  }

  &__item {
    font-family: $PfDin;
    font-size: 13px;
    color: #969699;
    line-height: 1.846;
    letter-spacing: .025em;
    margin-right: 9px;

    &:nth-of-type(5n) {
      @include screen(phablet,min) {
        margin-right: 0;
      }
    }
  }
}
