.project-preview {
  display: flex;
  height: 287px;
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, .1);

  @include screen(tablet,max) {
    flex-direction: column;
    height: auto;
  }

  &_big {

    .project-preview__overlay {
      @include screen(desktop) {
        max-width: calc(50% - 20px);
      }
    }
  }

  &__action {
    z-index: 2;
    position: relative;

    .small-action__icon-plus:hover {
      stroke: $color-main;
    }

    .small-action__text {
      opacity: 0;
    }
  }

  &__overlay {
    width: 50%;
    height: 100%;
    padding: 40px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    text-decoration: none;

    @include screen(tablet,max) {
      width: 100%;
      height: 240px;
    }

    &::after {
      content: '';

      @include full-size;
      @include transition(opacity);

      background-color: #212328;
      opacity: 0;
    }

    &:hover {

      &::after {
        opacity: .6;
      }

      .small-action__text {
        opacity: 1;
      }
    }

    img {
      @include fill-img;

      z-index: -1;
    }
  }

  &__text-block {
    padding: 42px 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: #fff;
    z-index: 2;

    @include screen(tablet,max) {
      width: 100%;
      padding: 25px 40px 16px 20px;
      min-height: 240px;
    }
  }

  &__tags {
    position: relative;
  }

  &__text {
    color: $color-dark;
    font-size: 14px;
    letter-spacing: .05em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;

    &_link {
      text-decoration: none;
      cursor: pointer;

      @include transition(color);

      &:hover {
        color: $color-main;
      }
    }

    &_grey {
      color: #7d7d80;
    }

    &_big {
      font-size: 24px;
      line-height: 1.5;

      @include screen(tablet-wide,max) {
        font-size: 18px;
        line-height: 1.56;
      }
    }
  }

  &__more {
    margin-left: 5px;
    position: relative;

    &::after {
      @include triangle(#f4f4f4, up, 10px);
      @include transition(opacity);

      bottom: -15px;
      opacity: 0;
    }

    &:hover {

      & + .project-preview__more-text {
        opacity: 1;
        pointer-events: all;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__more-text {
    position: absolute;
    width: 90%;
    left: 0;
    top: 35px;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    background-color: #f4f4f4;

    @include transition(opacity);

    @include screen(tablet,max) {
      width: 100%;
    }
  }
}
